@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ordens de Pedidos</h1>
    <p class="lead">Sistema criado para testar algumas funcionalidades do MVC utilizando um negócio de gerenciamento de estoque como contexto.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Termos de Uso</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @*target="_blank" = abrir a imagem em uma página diferente.*@
        <p><a class="btn btn-default" href="~/Arquivos/download.jpg" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre</h2>
        <p>Aqui você encontra informações sobre nossa empresa e o gerenciamento de pedidos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filiais</h2>
        <p>Torne-se uma filial, entre contato conosco.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>