

@{
    ViewBag.Title = "Index";
}

<h2>Categorias</h2>

@using (Html.BeginForm())
{
    <button id="btnGetCategorias">Buscar Categorias</button>
    <button id="btnGetCategoria">Buscar Categoria</button>
    <button id="btnAddCategorias">ADD Categorias</button>
    <button id="btnUpdateCategorias">Ediatr Categorias</button>
    <button id="btnDeleteCategorias">Deletar Categorias</button>

    <br />    <br />

    <input id="txtCategoriaId" type="text" placeholder="Id Categoria"/>
    <input id="txtDescricao" type="text" placeholder="Descrição" />

    <br/>    <br />

    <div id="lblMensagem"></div>
}

@section Scripts{
    <script type="text/javascript">
    $(function () {
        $("#btnGetCategorias").on("click", function () {
            $.ajax({
                type: 'GET',
                url: '/api/CategoriaAPI',
                dataType: 'json',
                cache: false,
            })

                .success(function (data) {
                    var saida = '';
                    for (var i = 0; i < data.length; i++) {
                        saida += '<hr><br>';
                        saida += '<b>Categoria ID: </b>' + data[i].CategoriaId + '<br>';
                        saida += '<b>Descrição: </b>' + data[i].Descricao + '<br>';
                    }
                    $("#lblMensagem").html(saida);
                })
                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMensagem").html("Ocorreu um erro");
                });

            return false;
        });

        $("#btnGetCategoria").on("click", function () {

            var categoriaId = $('#txtCategoriaId').val();
            if (categoriaId == "") {
                $("#lblMensagem").html("É preciso informar um ID para Categoria");
                return false;
            }

            $.ajax({
                type: 'GET',
                url: '/api/CategoriaAPI/' + categoriaId,
                datatype: 'json',
                cache: false,
            })


                .success(function (data) {
                    if (data != null) {
                        var saida = '';

                        saida += '<hr><br>';
                        saida += '<b>Categoria ID: </b>' + data.CategoriaId + '<br>';
                        saida += '<b>Descrição: </b>' + data.Descricao + '<br>';

                        $("#lblMensagem").html(saida);
                    } else {
                        $("#lblMensagem").html("Esta categoria não existe");
                    }
                })

                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMensagem").html("Ocorreu um Erro");

                });
            return false;
        });

        $("#btnAddCategorias").on("click", function () {

            var descricao = $('#txtDescricao').val();
            if (descricao == "") {
                $("#lblMensagem").html("É preciso informar a descrição!");
                return false;
            }

            var categoria = { Descricao: descricao }

            $.ajax({
                type: 'POST',
                url: '/api/CategoriaAPI/',
                data: categoria,
                datatype: 'json',
                cache: false,
            })


                .success(function (data) {

                    var saida = '';

                    saida += '<hr>Categoria Adicionada <br>';
                    saida += '<b>Categoria ID: </b>' + data.CategoriaId + '<br>';
                    saida += '<b>Descrição: </b>' + data.Descricao + '<br>';

                    $("#lblMensagem").html(saida);

                })

                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMensagem").html("Ocorreu um Erro");

                });

            return false;
        });

        $("#btnUpdateCategorias").on("click", function () {
            var descricao = $('#txtDescricao').val();
            if (descricao == "") {
                $("#lblMensagem").html("É preciso informar a descrição!");
                return false;
            }

            var categoriaId = $('#txtCategoriaId').val();
            if (categoriaId == "") {
                $("#lblMensagem").html("É preciso informar um ID para Categoria");
                return false;
            }

            var categoria = { CategoriaId: categoriaId, Descricao: descricao }

            $.ajax({
                type: 'PUT',
                url: '/api/CategoriaAPI/' + categoriaId,
                data: categoria,
                datatype: 'json',
                cache: false,
            })


                .success(function (data) {

                    var saida = '';

                    saida += '<hr>Categoria modificada com sucesso. <br>';

                    $("#lblMensagem").html(saida);

                })

                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMensagem").html("Ocorreu um Erro");

                });

            return false;
        });

        $("#btnDeleteCategorias").on("click", function () {
            var categoriaId = $('#txtCategoriaId').val();
            if (categoriaId == "") {
                $("#lblMensagem").html("É preciso informar um ID para Categoria");
                return false;
            }

            $.ajax({
                type: 'DELETE',
                url: '/api/CategoriaAPI/' + categoriaId,
                datatype: 'json',
                cache: false,
            })


                .success(function (data) {
                    if (data != null) {
                        var saida = '';

                        saida += '<hr>Categoria excluída com sucesso!<br>';
                        saida += '<b>Categoria ID: </b>' + data.CategoriaId + '<br>';
                        saida += '<b>Descrição: </b>' + data.Descricao + '<br>';

                        $("#lblMensagem").html(saida);
                    } else {
                        $("#lblMensagem").html("Esta categoria não existe");
                    }
                })

                .error(function (xhr, ajaxOptions, throwError) {
                    $("#lblMensagem").html("Ocorreu um Erro");

                });

            return false;
        });

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxStop(function () {
            $("#loading").hide();
        });

    });
    </script>
  }

<style type="text/css">
    #loading {
        display: none;
        background-color: gray;
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
</style>
<div id="loading"><img src="~/Images/loader.gif" /></div>